.domesticdes {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
}

.domesticdes > .domesticfirst {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  width: 90%;
}

.domesticdes > .domesticfirst > .domdata {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.8rem;
  padding: 0 1.5rem;
}

.domesticdes > .domesticfirst > .domdata > h3 {
  font-size: 18px;
}
.domesticdes > .domesticfirst > .cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
}

.domesticdes > .domesticfirst > .cards > .card {
  border-radius: 10px;
  cursor: pointer;
  margin-right: 2rem;
}

 .domesticdes > .domesticsecond {
  display: flex;
  align-items: center;
  justify-content: center;
}

 .domesticdes > .domesticsecond > .round {
  height: 16%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid black;
}

 .domesticdes > .domesticsecond > .round > .arrow-button {
  color: white;
}
