.card {
  height: 18rem;
  width: 17rem;
  border-radius: 10px;
}

.cardimg {
  height: 18rem;
  width: 17rem;
  position: absolute;
  border-radius: 10px;
}

.cardimg > img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.cardinfo {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.cardinfo > .cardtop {
  background: linear-gradient(
    90deg,
    rgba(252, 82, 9, 0.9164915966386554) 0%,
    rgba(239, 61, 70, 0.9052871148459384) 45%,
    rgba(232, 51, 101, 0.9108893557422969) 68%,
    rgba(229, 46, 116, 0.8688725490196079) 79%,
    rgba(223, 36, 144, 1) 100%
  );
  margin-top: 1rem;
  padding: 5px;
  border-radius: 0 10px 10px 0;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.cardinfo  > .cardbottom{
  width: 100%;
  height: 30%;
  padding: 0.8rem;
  color: white;
}

.cardinfo  > .cardbottom > h2{
  font-size: bold;
  font-size: 1.5rem;
}


.cardinfo  > .cardbottom > .cardprice{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5rem;
}
.cardinfo  > .cardbottom > .cardprice > span{
  font-size: 1.2rem;
}

.cardinfo  > .cardbottom > .cardprice > strong{
  font-size: 1.5rem;
  padding-left: 0.5rem;
}