.home {
  height: 250vh;
  width: 100vw;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.home > .cardslider {
  height: 95vh;
  width: 100vw;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home > .cardslider > .data {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home > .cardslider > .data > .cardslide {
  height: auto;
  width: 100%;
  /* border: 1px solid green; */
}

.home > .cardslider > .data > .cardslide > h3 {
  padding: 0.5rem 0 0.5rem 1rem;
  font-size: 1.5rem;
  color: rgb(46, 46, 46);
}
.home > .cardslider > .data > .cardslide > .tripdata {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}
.home > .cardslider > .btnwrapper {
  height: 80%;
  width: 15%;
  /* border: 1px solid yellow; */
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
.home > .cardslider > .btnwrapper > .btndiv {
  height: 3rem;
  width: 3rem;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 30%;
}
.home > .cardslider > .btnwrapper > .btndiv > .btn {
  height: 100%;
  width: 100%;
}

.partners {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  flex-direction: column;
  padding: 0 5rem;
}

.partners > .partnerimg {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.partners > .partnerimg > .img {
  height: 8rem;
  width: 10rem;
  padding: 1rem;
}
.partners > .partnerimg > .img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
