.home {
  height: 250vh;
  width: 100vw;
  margin-top: 1rem;
}

.partners {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  flex-direction: column;
  padding: 0 5rem;
}

.partners > .partnerimg {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.partners > .partnerimg > .img {
  height: 8rem;
  width: 10rem;
  padding: 1rem;
}
.partners > .partnerimg > .img > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
