.card {
  font-family: "Popins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
  width: 15vw;
  margin: 1rem;
  border-radius: 10px;
}

.card > .imgBox {
  position: relative;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.card > .imgBox > img {
  opacity: 0.8;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.card > .card-data {
  position: absolute;
  display: flex;
  height: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: rgb(252, 252, 252);
}

.card > .card-data > .cardupper {
  font-size: 1.3rem;
  padding: 1rem;
  font-weight: bold;
}

.card > .card-data > .cardbottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
}

.card > .card-data > .cardbottom > h2 {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.card > .card-data > .cardbottom > button {
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1rem;
  color: white;
  background-color: rgb(250, 136, 43);
}

.card > .card-data > .cardbottom > button:hover {
  color: rgb(250, 136, 43);
  background-color: white;
}


