.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    width: 100%;
    background-color: rgba(7, 7, 7, 0.819);
    color: white;
}

.upper-header{
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40%;
    width: 80%;
}

.upper-header > .left{
    display: flex;
    width: 80%;
    height: 8vh;
    flex-direction: row;
    align-items: center;
}

.upper-header > .left > .first{
    margin: 6rem;
}

.upper-header > .left > .first > .icon{
    font-size: 1.2rem;
    color: orangered;
}
.upper-header > .left > .first >span{
    font-size: 1.3rem;
    margin-left: 0.6rem;

}

.upper-header > .left > .second > .icon{
    font-size: 1.2rem;
    color: orangered;
}
.upper-header > .left > .second >span{
    font-size: 1.3rem;
    margin-left: 0.6rem;

}

.upper-header > .right{
    font-size: 1.2rem;
}

.upper-header > .right > .icon{
    font-size: 1.2rem;
    color: orangered;
    cursor: pointer;
}
.upper-header > .right > span{
    font-size: 1.3rem;
    margin-left: 0.6rem;
    cursor: pointer;
}

 .line{
    width: 80%;
    height: 0.1rem;
    background-color: white;
}

.bellow-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60%;
    width: 100%;
}

.bellow-header>.bh-img{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bellow-header>.bh-img > h1{
    color: #e83103;
}

.bellow-header> .bh-links{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bellow-header> .bh-links > a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

.bellow-header> .bh-links > a:hover{
    color: rgba(38, 230, 38, 0.818);
}