.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: auto;
  padding-top: 5rem;
}

.wrapper > .filters input{
  margin: 0.5rem;
}
.wrapper > .filters label{
  font-size: 1.2rem;
  font-weight: 600;
}

.wrapper > h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.read {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  background-color: white;
  padding: 2rem;
  margin: 2rem;
  border-radius: 20px;
}

.read > .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 20vh;
  background-color: rgba(87, 87, 87, 0.378);
  border-radius: 20px;
  margin-bottom: 1rem;
}

.read > .card > h5 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.read > .card > h6 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.read > .card > p {
  font-size: 1.1rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

.read > .links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
}

.read > .links > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 5vh;
  background-color: rgba(87, 87, 87, 0.378);
  border-radius: 20px;
  margin: 0.5rem;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.read > .links > button:hover {
  box-shadow: 0 0 25px rgba(32, 1, 1, 0.659);
}

.read > .links > button > a {
  text-decoration: none;
  padding: 1rem;
  color: black;
  font-weight: 200;
}
