

.wrapper{
    height: 400px;
    width: 300px;
    background-color: rgba(97, 97, 97, 0.171);
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 5px 5px 5px rgba(136, 136, 136, 0.922);
}

.img-div{
    height: 40%;
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.img-div > img{
    width: 100%;
    height: 100%;
    
    cursor: pointer;
    
    transition: all linear 0.5s;
}

.img-div > img:hover{
    scale: 1.2;
}

.text-div{
    height: 60%;
    width: 100%;
    padding: 1rem;
}

.text-div > p{
    font-size: 18px;
    padding: 16px;
}

.text-div > button{
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: all linear .5s;
}

.text-div > button:hover{
    scale: 1.2;
}